<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkcyan;">
  <div class="container">
    <a class="navbar-brand" href="/">TODO list</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/list" role="button" data-toggle="dropdown" aria-expanded="false">
          TODO
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/list">TODO's</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/list/add">ADD A list</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="/signin" class="nav-link">SignIn</a>
      </li>
      <li class="nav-item">
        <a href="/signup" class="nav-link">SignUp</a>
      </li>
      {{/if}}
    </ul>
  </div>
  </div>
</nav>